.*
!.gitignore
!.gitattributes
!.gitkeep

__pycache__/
*.pyc

venv/

# Data & results
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
docs/results/
runs/
notebooks/

# Models
models/**
!models/.gitkeep
!models/gesture_cnn.pt
!models/svm_keypoints.pkl
!models/yolov8n_hand.pt
!models/hand_landmarker.task
!models/hand_detector/
!models/hand_detector/weights/
!models/hand_detector/weights/best.pt
!models/hand_detector/weights/last.pt

# Training artifacts
yolov8n.pt
